.putin
{
	font-size: 20px;
	margin-top: 5px;
	margin-bottom: 0px;
	font-family: 'Lobster', cursive;
	font-weight: 900;


}

style="color:#10A3EF;"

.kremlin{

font-family: 'Josefin Slab', serif;
line-height: 130%;
word-spacing: 13px;
line-height: 25px;
font-size: 18px;

}

h3
{
font-family: 'Lobster', cursive;	
}

img{

	margin-top: 0px;
}

#home_logo
{
	margin-right: 5px;
}

ul li{

margin-left: 150px;

}

.isis
{
	height: 40px;
}

ul  img
{
	display: inline;
	margin-left: 20px;
}

.ul_color
{
	color: hotpink;
}

